@import "tailwindcss";

@font-face {
  font-family: Bebas;
  src: url("/fonts/Bebas.ttf"), format("ttf");
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito.ttf"), format("ttf");
}

@theme {
  --font-title: "Bebas";
  --font-display: "Nunito";
}

@layer components {
  .hero {
    @apply bg-zinc-950 w-full min-h-screen text-zinc-300 flex-center;
  }
  .btn-lm {
    @apply text-white bg-gradient-to-r from-red-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-lg px-7 py-2.5 text-center me-2 mb-2 cursor-pointer inline-flex items-center gap-2;
  }
}

@utility flex-center {
  @apply flex flex-col justify-center items-center;
}
